body{
    background: cornsilk;
}
.main-nav{
    display: flex;
list-style: none; 
background: blue;
border-radius: 20px; 
}
li{
    display: flex;
    padding: 20px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
img{
    width: 350px;
    height: 300px;
    padding: 10px;
    
}